<template>
  <div class="profile-page">
    <section class="section-profile-cover section-shaped my-0">
      <div class="shape shape-style-1 shape-primary shape-skew alpha-4">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </section>
    <section class="section section-skew">
      <div class="container">
        <card shadow class="card-profile mt--300" no-body>
          <div class="px-5 py-5">
            <div class="text-center">
              <img v-lazy="'img/brand/blue.png'" class="px-2" style="max-width:100%" />
              <p>This website is primarily designed to create awareness and also to reduce panic among the people.</p>
              <h5>Methodology:</h5>
              <p>Will be updated soon.</p>

              <h5>Product Inspiration:</h5>
              <p>
                This product is primarily inspired by the National Health Service (NHS), the publicly funded healthcare system of the United Kingdom. Please find the
                <a
                  href="https://www.nhsdirect.wales.nhs.uk/SelfAssessments/symptomcheckers/?ScName=CoronaVirusCOVID19&SCTId=175"
                  target="_blank"
                  rel="noopener"
                >coronavirus symtom checker for UK here.</a>
              </p>

              <h5>Credits:</h5>
              <div>
                Icons made by
                <a
                  href="https://www.flaticon.com/authors/smashicons"
                  title="Smashicons"
                  target="_blank"
                  rel="noopener"
                >Smashicons</a> from
                <a
                  href="https://www.flaticon.com/"
                  title="Flaticon"
                  target="_blank"
                  rel="noopener"
                >www.flaticon.com</a>
              </div>
              <div>
                Theme is inspired by
                <a
                  href="https://www.creative-tim.com/product/vue-argon-design-system"
                  target="_blank"
                  rel="noopener"
                >Creative Tim's Vue Agron Framework</a>
              </div>
              <br>
              <h5>Brought to you by:</h5>
              <div>
                <a href="https://www.linkedin.com/in/anandb3/" target="_blank" rel="noopener">
                  <img
                    v-lazy="'img/brand/anand-creations-dark.png'"
                    class="px-2"
                    style="max-width:100%; width:250px"
                  />
                </a><br>
                <a href="https://www.linkedin.com/in/anandb3" target="_blank" rel="noopener">www.linkedin.com/in/anandb3</a>
              </div>
            </div>
          </div>
        </card>
      </div>
    </section>
  </div>
</template>
<script>
export default {};
</script>
<style>
</style>
