<template>
  <div>
    <auto-complete
      alternative
      label="Country of residence:"
      labelClasses="label"
      placeholder="Country"
      addon-left-icon="ni ni-zoom-split-in"
      addon-right-icon="ni ni-bold-down"
      :options="countries"
      @select-item="onCountrySelect"
    ></auto-complete>

    <div class="row">
      <p class="label col-lg-10">Did you travel to any other countries recently?</p>
      <div class="col-lg-2 mt-3">
        <base-switch :value="false" v-on:input="updateTravelHistory"></base-switch>
      </div>
    </div>
    <div v-if="profile.travelHistory">
      <div class="row" v-for="(travel,index) in profile.travelDetails" :key="index">
        <div class="col-lg-6">
          <auto-complete
            alternative
            label="Country:"
            labelClasses="label"
            placeholder
            addon-left-icon="ni ni-zoom-split-in"
            addon-right-icon="ni ni-bold-down"
            :options="countries"
            @select-item="updateTravelCountry(index, $event)"
          ></auto-complete>
        </div>
        <div class="col-lg-5">
          <div class="input-daterange datepicker row align-items-center">
            <div class="col">
              <base-input addon-left-icon="ni ni-calendar-grid-58">
                <flat-picker
                  slot-scope="{focus, blur}"
                  @on-open="focus"
                  @on-close="blur"
                  :config="{allowInput: true, mode: 'range',}"
                  class="form-control datepicker"
                  v-model="profile.travelDetails[index].range"
                ></flat-picker>
              </base-input>
            </div>
          </div>
        </div>
        <div class="col-lg-1" style="margin-top: 5px;padding: 0px;margin-left: -5px;">
            <base-button
            size="sm"
            type="danger"
            class="btn-tooltip"
            v-b-tooltip.hover.top
            title="Delete this country of travel"
            @click="deleteTravelCountry(index)"
            style="font-size: 1rem;
    padding-bottom: 0px;"
          ><i class="ni ni-fat-remove"></i></base-button>
        </div>
      </div>
      <div class="row">
        <div style="margin:auto">
          <base-button
            size="sm"
            type="primary"
            class="btn-tooltip"
            v-b-tooltip.hover.top
            title="Add another country of travel"
            @click="addTravelCountry()"
          >Add</base-button>
        </div>
      </div>
    </div>
    <div class="row">
                        <p class="label col-lg-10">
                        Have you been in close contact with a person who is known to have been infected with coronavirus (COVID-19)?</p>
                        <div class="col-lg-2 mt-3">
                        <base-switch :value="false" v-on:input="updateCloseContact"></base-switch></div>
                    </div>
  </div>
</template>
<script>
import AutoComplete from "./AutoComplete.vue";
import BaseSwitch from "@/components/BaseSwitch.vue";
import flatPicker from "vue-flatpickr-component";
import "flatpickr/dist/flatpickr.css";
import { VBTooltip } from "bootstrap-vue/esm/directives/tooltip/tooltip";
import { VBPopover } from "bootstrap-vue/esm/directives/popover/popover";

import countries from "../../data/countries.json"
export default {
  components: {
    AutoComplete,
    BaseSwitch,
    flatPicker
  },
  directives: {
    BTooltip: VBTooltip,
    BPopover: VBPopover
  },
  props:{
    profile: {
      type: Object,
      description: "Profle of the user",
      required: true
    }},
  data() {
    return {
    //   profile: {
    //     travelHistory: false,
    //     country: {},
    //     travelCountries: 0,
    //     travelDetails: [{ country: {}, range: "2020-01-01 to 2020-01-03" }]
    //   },
      countries: countries
    };
  },
  methods: {
    onCountrySelect(option){
        this.profile.country = option
    },
    updateTravelCountry(index, option) {
        console.log(index)
        console.log(option)
      this.profile.travelDetails[index].country = option;
    },
    updateTravelHistory(val) {
      this.profile.travelHistory = val;
      if (val) {
        this.profile.travelCountries = this.profile.travelDetails.length;
      }
    },
    updateCloseContact(val){
        this.profile.closeContact = val;
    },
    addTravelCountry(){
        this.profile.travelDetails.push({ country: {}, range: "2020-01-01 to 2020-01-03" });
        this.profile.travelCountries += 1; 
    },
    deleteTravelCountry(index){
        this.profile.travelDetails.splice(index,1);
        this.profile.travelCountries -=1;
        if(this.profile.travelCountries == 0){
            this.profile.travelHistory = false;
        }
    }
  }
};
</script>
<style>
.label {
  font-weight: 600;
  padding-top: 12px;
  padding-left: 10px;
  text-align: left;
}
</style>