<template>
  <section class="section-hero section-shaped my-0">
    <div class="shape shape-style-1 shape-primary">
      <span class="span-150"></span>
      <span class="span-50"></span>
      <span class="span-50"></span>
      <span class="span-75"></span>
      <span class="span-100"></span>
      <span class="span-75"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
      <span class="span-50"></span>
      <span class="span-100"></span>
    </div>
    <div class="container shape-container d-flex align-items-center">
      <div class="col px-0">
        <div class="row justify-content-center align-items-center">
          <div class="col-lg-7 text-center pt-lg">
            <img src="img/brand/white.png" style="width: 275px;" class="img-fluid" />
            <p class="lead text-white mt-4 mb-5">Corona Virus COVID 19 Symptom Checker</p>
            <tabs
              fill
              class="flex-column flex-md-row mb-5"
              :value="value"
              :activeTab="activeTab"
              v-on:activeTabIndex="activeTabChange"
            >
              <card shadow class="tab-card-body">
                <tab-pane key="tab1" title="tab1">
                  <template slot="title">
                    <badge type="primary" class="text-uppercase">Start</badge>
                  </template>
                  <div class="tab-header">Before you start</div>
                  <div class="description">
                    <p>This symptom checker is developed with the sole aim of enhancing the awareness and avoid pannic among the people. Use this guide to check if you have the symptoms of coronavirus.</p>
                    <p>DISCLIMAR: This tool is not developed by a certified doctor nor a certified institution. The sole aim of this tool is to enhance awareness and thereby reduction in panic.</p>
                  </div>
                  <div class="tab-footer">
                    <base-button
                      tag="a"
                      href="#"
                      class="mb-3 mb-sm-0"
                      type="primary"
                      icon="fa  fa-arrow-circle-right"
                      @click="changeTo(2)"
                    >Next</base-button>
                  </div>
                </tab-pane>

                <tab-pane key="tab2" title="tab2" label="tab2">
                  <template slot="title">
                    <i class="ni ni-bell-55 mr-2"></i>Profile
                  </template>
                  <div class="tab-header">Geographics</div>

                  <div class="description">
                    <geographics :profile="profile"></geographics>
                  </div>
                  <div class="tab-footer">
                    <base-button
                      tag="a"
                      href="#"
                      class="mb-3 mb-sm-0"
                      type="primary"
                      icon="fa  fa-arrow-circle-right"
                      @click="changeTo(3)"
                    >Next</base-button>
                  </div>
                </tab-pane>

                <tab-pane key="tab3" title="tab3">
                  <template slot="title">
                    <i class="ni ni-calendar-grid-58 mr-2"></i>Symptoms
                  </template>
                  <div class="tab-header">Symptoms</div>

                  <div class="description">
                    <div class="row">
                      <p class="label col-lg-10">Do have a new fever (high temperature)?</p>
                      <div class="col-lg-2 mt-3">
                        <base-switch :value="false" v-on:input="updateFever"></base-switch>
                      </div>
                    </div>
                    <div class="row">
                      <p class="label col-lg-10">Do have a new caugh?</p>
                      <div class="col-lg-2 mt-3">
                        <base-switch :value="false" v-on:input="updateCaugh"></base-switch>
                      </div>
                    </div>
                    <div class="row">
                      <p class="label col-lg-10">Do have a new shortness of breath?</p>
                      <div class="col-lg-2 mt-3">
                        <base-switch :value="false" v-on:input="updateBreath"></base-switch>
                      </div>
                    </div>

                    <div
                      v-if="!(profile.symptoms.fever || profile.symptoms.caugh || profile.symptoms.breath)"
                      class="row mt-2"
                      style="margin:auto"
                    >
                      <base-checkbox
                        class="mb-3"
                        v-model="profile.symptoms.accepted"
                      >I do not have any of the above mentioned symptoms</base-checkbox>
                    </div>
                  </div>
                  <div class="tab-footer">
                    <base-button
                      tag="a"
                      href="#"
                      class="mb-3 mb-sm-0"
                      type="primary"
                      icon="fa  fa-arrow-circle-right"
                      @click="changeTo(4)"
                    >Get Results</base-button>
                  </div>
                </tab-pane>

                <tab-pane key="tab4" title="tab4">
                  <template slot="title">
                    <i class="ni ni-calendar-grid-58 mr-2"></i>Result
                  </template>
                  <div class="tab-header">Results</div>
                  <div class="description">
                    <div v-if="profile.country.name != undefined && validSymptoms">
                      <vue-speedometer
                        :minValue="0"
                        :maxValue="100"
                        :segments="1000"
                        :maxSegmentLabels="0"
                        :value="profile.indexScore"
                        :height="200"
                        :currentValueText="finalText"
                      />

                      <p
                        class="text-danger infoText"
                        v-for="(notes,index) in profile.notes.serious"
                        :key="index"
                      >{{notes}}</p>
                      <p
                        class="text-primary infoText"
                        v-for="(notes,index) in profile.notes.general"
                        :key="index"
                      >{{notes}}</p>
                    </div>
                    <div v-else class="mb-2">
                      Please fill out the following fields to obtain the result.
                      <br />
                      <badge
                        v-if="profile.country.name == undefined"
                        type="danger"
                        class="error"
                      >Your country of residence (on profile tab)</badge>
                      <br />
                      <badge
                        v-if="!validSymptoms"
                        type="danger"
                        class="error"
                      >Valid Symptoms (on symptoms tab)</badge>
                      <br />
                    </div>
                  </div>
                </tab-pane>
              </card>
            </tabs>
          </div>
        </div>
        <div class="row align-items-center justify-content-around stars-and-coded">
          <div class="col-sm-4">
            <!-- <span class="text-white alpha-7 ml-3">Star us on</span>
            <a
              href="#"
              target="_blank"
              title="Support us on Github"
            >
              <img src="img/brand/github-white-slim.png" style="height: 22px; margin-top: -3px" />
            </a>-->
          </div>
          <div class="col-sm-4 mt-4 mt-sm-0 text-right mb-5">
            <span class="text-white alpha-7">Coded by</span>
            <a href="https://www.linkedin.com/in/anandb3/" target="_blank" title="Anand Creations">
              <img src="img/brand/anand-creations.png" class="ml-3" style="height: 40px;" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
<script>
import Tabs from "@/components/Tabs/Tabs.vue";
import TabPane from "@/components/Tabs/TabPane.vue";
import Geographics from "./Geographics.vue";
import VueSpeedometer from "vue-speedometer";
export default {
  components: {
    Tabs,
    TabPane,
    Geographics,
    VueSpeedometer
  },
  data() {
    return {
      activeTab: "tab1",
      value: "",
      activeTabIndex: 0,
      profile: {
        indexScore: 0,
        notes: { serious: [], general: [] },
        closeContact: false,
        travelHistory: false,
        country: {},
        travelCountries: 0,
        travelDetails: [{ country: {}, range: "2020-01-01 to 2020-01-03" }],
        symptoms: {
          accepted: false,
          fever: undefined,
          caugh: false,
          breath: false
        }
      }
    };
  },
  methods: {
    changeTo(index) {
      this.value = "tab" + index;
      if (index == 4) {
        this.calculateIndex();
      }
    },
    activeTabChange(val) {
      this.activeTabIndex = val;
      this.value = "";
      if (val == 4) {
        this.calculateIndex();
      }
    },
    updateFever(val) {
      this.profile.symptoms.fever = val;
    },
    updateCaugh(val) {
      this.profile.symptoms.caugh = val;
    },
    updateBreath(val) {
      this.profile.symptoms.breath = val;
    },
    fromAffectedCountry(country) {
      var affectedCountries = [
        "China",
        "Hong Kong",
        "Japan",
        "Macau",
        "Malaysia",
        "South Korea",
        "Singapore",
        "Taiwain",
        "Thailand",
        "Cambodia",
        "Laos",
        "Myanmar",
        "Vietnam",
        "Iran",
        "Italy"
      ];
      if (affectedCountries.includes(country)) {
        this.profile.notes.general.push(
          "As your the number of reported Coronavirus cases are in the rise we advise you to take extra precautions."
        );
        return true;
      }
    },
    visitedAffectedCountries(travelDetails) {
      var affectedCountries = [
        "China",
        "Hong Kong",
        "Japan",
        "Macau",
        "Malaysia",
        "South Korea",
        "Singapore",
        "Taiwain",
        "Thailand",
        "Cambodia",
        "Laos",
        "Myanmar",
        "Vietnam",
        "Iran",
        "Italy"
      ];
      var isVisited = false;
      for (var i = 0; i < travelDetails.length; i++) {
        if (affectedCountries.includes(travelDetails[i].country.name)) {
          var dateSplit = travelDetails[i].range.split(/-| to /);
          console.log(travelDetails[i].range.split(/-| to /));
          var returnDate = new Date(
            dateSplit[3],
            parseInt(dateSplit[4]) - 1,
            dateSplit[5]
          );
          var today = new Date();
          var differenceInDays =
            (today.getTime() - returnDate.getTime()) / (1000 * 3600 * 24);
          if (differenceInDays < 14) {
            this.profile.notes.general.push(
              "As you have traveled recently to " +
                travelDetails[i].country.name +
                " (which is a Coronavirus affected region) we advise you to take extra precautions and be in quarantine if possible."
            );
            isVisited = true;
          }
        }
      }
      return isVisited;
    },
    calculateIndex() {
      this.profile.indexScore = 0;
      this.profile.notes.serious = [];
      this.profile.notes.general = [];
      var locationScore = 0;
      if (this.fromAffectedCountry(this.profile.country.name)) {
        //Be safe
        locationScore += 10;
      }

      if (this.visitedAffectedCountries(this.profile.travelDetails)) {
        locationScore += 20;
      }
      console.log("feever :" + this.profile.symptoms.fever);
      console.log("caugh" + this.profile.symptoms.caugh);
      console.log(
        "f+c" + this.profile.symptoms.fever && this.profile.symptoms.caugh
      );

      if (
        this.profile.closeContact &&
        this.profile.symptoms.fever &&
        this.profile.symptoms.caugh &&
        this.profile.symptoms.breath
      ) {
        this.profile.notes.serious.push(
          "URGENT: Please contact your country's coronavirus helpline imediately and explain your scenario"
        );
      } else if (this.profile.closeContact) {
        this.profile.indexScore = 90;
        this.profile.notes.serious.push(
          "We imediately suggest you to contact your country's coronavirus helpline and explain that you were in close contact with a person who is known to have been infected with coronavirus (COVID-19)"
        );
      } else if (
        this.profile.symptoms.fever &&
        this.profile.symptoms.caugh &&
        this.profile.symptoms.breath
      ) {
        this.profile.indexScore = 90;
        this.profile.notes.serious.push(
          "We imediately suggest you to contact your country's coronavirus helpline and explain your symptoms"
        );
      } else if (this.profile.symptoms.breath) {
        this.profile.indexScore = 60;
        this.profile.notes.serious.push(
          "As shortness of breath could be potentially because of the coronavius, we suggest you to contact your country's coronavirus helpline and explain your symptoms"
        );
      } else if (this.profile.symptoms.fever && this.profile.symptoms.caugh) {
        // only feever and cold
        this.profile.indexScore += 40;
        if (locationScore == 20) {
          this.profile.notes.general.push(
            "As you traveled to a coronavirus affected countery the fever and caugh could be a initial symptom of corona we advice you to speak with your contry's medical helpline."
          );
        } else {
          this.profile.notes.general.push(
            "While the fever and caugh could be symptom of many other flu we advice you to speak with your contry's medical helpline."
          );
        }
      } else if (this.profile.symptoms.caugh) {
        this.profile.indexScore += 10;
        this.profile.notes.general.push(
          "From the information provided we do not think you are currently at risk of having the coronavirus (COVID-19) infection. If you caugh that developed recently persist, do visit a doctor for advice."
        );
      } else if (this.profile.symptoms.fever) {
        this.profile.indexScore += 15;
        this.profile.notes.general.push(
          "From the information provided we do not think you are currently at risk of having the coronavirus (COVID-19) infection. If you fever that developed recently persist, do visit a doctor for advice."
        );
      }

      if (
        this.profile.notes.general == "" &&
        this.profile.notes.serious == ""
      ) {
        this.profile.notes.general.push(
          "From the information provided we do not think you are currently at risk of having the coronavirus (COVID-19) infection. If you develop symptoms of the virus or are concerned, please re-check these using this self help guide."
        );
      }

      if (this.profile.indexScore + locationScore <= 90) {
        this.profile.indexScore += locationScore;
      } else {
        this.profile.indexScore = 90;
      }
    }
  },
  computed: {
    validSymptoms() {
      if (this.profile.symptoms.accepted) {
        return true;
      } else if (
        this.profile.symptoms.fever ||
        this.profile.symptoms.caugh ||
        this.profile.symptoms.breath
      ) {
        return true;
      }
      return false;
    },
    finalText() {
      if (this.profile.indexScore > 75) {
        return "Call your country's helpline";
      } else if (this.profile.indexScore > 40) {
        return "Be careful";
      } else {
        return "Nothing to worry for now";
      }
    }
  }
};
</script>
<style>
.tab-header {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
  padding: 10px 10px 10px 10px;
  /* margin: 0 0 10px 0px; */
  background: rgba(94, 114, 228, 0.02);
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.1);
}
.tab-card-body .card-body {
  padding: 0px !important;
}

.description {
  min-height: 100px !important;
  padding: 10px;
}

.tab-footer {
  padding: 10px;
}

.error {
  font-size: 12px !important;
  margin: 12px;
}

.infoText {
  font-size: 17px;
  font-weight: 400;
}
</style>
